<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="../../public/img/Red-Tesla/TR1.jpg" class="card-img mx-auto d-block" alt="Picture of the car">
    </div>
    <div class="col-md-8">
      <a href="/ads/<%- marketAd.id %>">
        <div class="card-body">
          <h5 class="card-title"><%- marketAd.title %> (<%- marketAd.price %> $)</h5>
          <p class="card-text"><%- marketAd.fuel_type %>, year: <%- marketAd.year %>, cc:
            <%- marketAd.cubic_capacity %>, HP: <%- marketAd.horsepower %>, <%- marketAd.milage %> km</p>
          <p class="card-text"><small class="text-muted">Uploaded by <%- marketAd.username %></small></p>
        </div>
      </a>
    </div>
  </div>
</div>