<div class="card mt-3 text-center">
  <a href="/marketad/<%- marketAd.id %> ">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="/public/img/Red-Tesla/TR1.jpg" alt="" class="card-img mx-auto"
          style="height: 100%;">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <div class="row">
            <div class="col">

              <h5 class="card-title float-left"><%- marketAd.make %> <%- marketAd.model %></h5>
            </div>
            <div class="col">
              <div class="card-text float-right h3"><%- marketAd.price %>€</div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="card-text text-muted float-left"><%- marketAd.fuel_type %>, <%- marketAd.year %>,
                <%- marketAd.cubic_capacity %> cm<sup>3</sup>, <%- marketAd.horsepower %> HP, <%- marketAd.milage %> km</div>
              </div>
          </div>
          <div class="row pt-2">
            <div class="col text-left">
              <div class="float-left text-muted ">
                <%- marketAd.description %>

              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </a>
</div>