<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('inc/head'); -%>
  <link rel="stylesheet" href="/public/custom/css/Sidebar.css">
  <title>Car Clutch Club</title>
</head>

<body>
  <%- include('inc/navbar'); -%>
  <%- include('inc/filterbar'); -%>
  <% if (typeof alert != "undefined") { %>
  <div class="alert alert-<%= alert.type %> m-0 h4 text-center" role="alert">
    <%= alert.message %>
  </div>
  <% } %>
  <%- // include('inc/sidebar'); -%>
  <div class="content container-fluid">
    <div class="row">
        <button class="btn btn-block btn-success btn-lg m-3 h-100"><span class="fas fa-hand-holding-usd"></span>
          Sell your car
        </button>
    </div>
    <div class="row">
      <div class="col-md">
        <% if (marketAds.length == 0) { %>
          <div class="alert alert-primary m-4 p-3 text-center" role="alert">
            Currently there are no ads.
            <br />
            Check back later!
          </div>
        <% } else { %>
          <% marketAds.forEach((marketAd) =>{ %>
            <%- include('inc/marketAd', {marketAd: marketAd}); -%>
          <% }); %>
        <% } %>
      </div>
    </div>
  </div>
  <%- include('inc/scripts'); -%>
  <script type="text/javascript">
    $("[data-toggle=\"tooltip\"]").tooltip();
    $(document).ready(function () {
      $('#sidebarCollapse').on('click', function () {
        $('#sidebar').toggleClass('active');
      });
    });

    function closeSidebar() {
      if (!$('#sidebar').hasClass('active')) {
        $('#sidebarCollapse').click();
      }
    }
  </script>
</body>

</html>