<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('inc/basic/head'); -%>
  <link rel="stylesheet" href="/public/custom/css/Sidebar.css">
  <title>Car Clutch Club</title>
</head>

<body>
  <%- include('inc/basic/navbar'); -%>

  <% if (typeof alert != "undefined") { %>
    <div class="alert alert-<%= alert.type %> m-0 h4 text-center" role="alert">
      <strong><%= alert.message %></strong>
    </div>
    <% } %>

  <!-- Modal include -->
  <%- include('inc/popups/sellCarModal') %>
  
  <div class="content container">
    <div class="row">
      <!-- <input name="btnAddMore" data-toggle="modal" data-target="#profileeditModal" value="Edit Profile" /> -->
      <button type="button" class="btn btn-block btn-success btn-lg m-3 h-100" data-toggle="modal" data-target="#sellCarModal"><span class="fas fa-hand-holding-usd"></span>
        Sell your car
      </button>
    </div>
    <% if (typeof marketAds == "undefined" || marketAds.length == 0) { %>
    <div class="row justify-content-center">

      <div class="alert alert-primary m-4 p-3 text-center" role="alert">
        Currently there are no ads.
        <br />
        Check back later!
      </div>
    </div>
    <% } else { %>
    <div class="row">
      <div class="col">
        <% marketAds.forEach((marketAd) =>{ %>
        <%- include('inc/marketAd', {marketAd: marketAd}); -%>
        <% }); %>
      </div>
    </div>
    <% } %>
  </div>
  <%- include('inc/basic/scripts'); -%>
  <script type="text/javascript">
    $("[data-toggle=\"tooltip\"]").tooltip();
    $(document).ready(function () {
      $('#sidebarCollapse').on('click', function () {
        $('#sidebar').toggleClass('active');
      });
    });

    function closeSidebar() {
      if (!$('#sidebar').hasClass('active')) {
        $('#sidebarCollapse').click();
      }
    }
  </script>
</body>

</html>