<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('inc/basic/head'); -%>
  <link rel="stylesheet" href="/public/custom/css/profile.css">
  <title>Car Clutch Club - Profile</title>
</head>

<body>
  <% if (session == userdata.id) { %>
    <%- include('inc/popups/profileEditModal') %>
    <%- include('inc/popups/deleteAreyousure') %>
    <%- include('inc/popups/profileChangePicture') %>
    <%- include('inc/popups/changepassword') %>
    <%- include('inc/popups/profiletitleedit') %>
    <%- include('inc/popups/profileAdModify') %>
  <% } %>
  <%- include('inc/basic/navbar'); -%>

  <!-- ALERT -->
  <% if (typeof alert != "undefined") { %>
    <div class="alert alert-<%= alert.type %> m-0 h4 text-center" role="alert">
      <strong><%= alert.message %></strong>
    </div>
  <% } %>

  <div class="container emp-profile" id="profileTheme">
    <form method="post">
      <div class="row mr-0">
        <div class="col-md-4">
          <div class="profile-img">
            <img class="rounded-pill" src="/public/img/uploads/users/<%- userdata.id %>.png" onerror="this.onerror=null;this.src='/public/img/uploads/avatars/erroravatar.png';" />
          </div>
          <% if (session == userdata.id) { %>
          <div class="text-center pt-4">
            <input type="button" class="profile-edit-btn my-1 btn btn-secondary" name="btnAddMore" data-toggle="modal" data-target="#profiletitleedit" value="Edit Profile" />
          </div>
          <% } %>
        </div>
        <div class="col-md-8 pr-0">
          <div class="profile-head">
            <h5 class="text-center text-info"><%- userdata.username %></h5>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                  aria-selected="true">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                  aria-controls="profile" aria-selected="false">Active ads</a>
              </li>
            </ul>
          </div>
          <div class="row w-100">
            <div class="col pr-0"> 
              <div class="tab-content profile-tab" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                  <div class="row">
                    <div class="col-md-6">
                      <label class="text-info">Email</label>
                    </div>
                    <div class="col-md-6">
                      <p><%- userdata.email %></p>
                    </div>
                  </div>

                  <% if (userdata.birth_date) { %>
                  <div class="row">
                    <div class="col-md-6">
                      <label class="text-info">Birth date</label>
                    </div>
                    <div class="col-md-6">
                      <p id="printdate"></p>
                    </div>
                  </div>
                  <% } %>

                  <div class="row">
                    <div class="col-md-6">
                      <label class="text-info">Active ads</label>
                    </div>
                    <div class="col-md-6">
                      <p><%- marketAds.length %></p>
                    </div>
                  </div>

                  <% if (userdata.phone) { %>
                  <div class="row">
                    <div class="col-md-6">
                      <label class="text-info">Phone</label>
                    </div>
                    <div class="col-md-6">
                      <p><%- userdata.phone %></p>
                    </div>
                  </div>
                  <% } %>

                  <% if (userdata.country) { %>
                  <div class="row">
                    <div class="col-md-6">
                      <label class="text-info">Country</label>
                    </div>
                    <div class="col-md-6">
                      <p><%- userdata.country %></p>
                    </div>
                  </div>
                  <% } %>

                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                  <div class="row">

                      <% if (marketAds.length == 0) { %>
                        <div class="col">
                          <div class="alert alert-primary m-4 p-3 text-center" role="alert">
                          This user doesn't have any active ads.
                          </div>
                        </div>
                      <% } else { %>
                        <% marketAds.forEach((marketAd) =>{ %>
                          <% if (session == marketAd.ownerid) { %>

                              <div class="col-11">
                                  <%- include('inc/marketAd', {marketAd: marketAd}); -%>
                              </div>
                              <div class="col-1 align-self-center p-0">
                                
                                <div class="row">
                                  <div class="col">
                                    <div class="pt-2 text-center">
                                      <i class="fas fa-info-circle fa-2x text-info" data-id="<%- marketAd.id %>" data-toggle="modal" data-target="#profileAdModify"></i>
                                   </div>
                                  </div>
                                  <div class="col">
                                    <div class="pt-4 text-center">
                                        <i class="far fa-times-circle fa-2x text-danger" data-id="<%- marketAd.id %>" data-toggle="modal" data-target="#deleteAreyousureModal" onclick="passId(this)"></i>
                                    </div>
                                  </div>
                                </div>

                              </div>

                          <% } else { %>
                            <div class="col">
                              <%- include('inc/marketAd', {marketAd: marketAd}); -%>
                            </div>
                          <% } %>
                        <% }); %>
                      <% } %>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  </div>
  </form>
  </div>
  <%- include('inc/basic/scripts'); -%>
  <% if (userdata.birth_date) { %>
    <script>
      // script tag becuz of eslint error
      window.onload = () => {
        const getInput = "<%- userdata.birth_date.split('T')[0] %>";
        const today = new Date(getInput);
        document.getElementsByName('birth_date')[0].defaultValue = today.getFullYear() + '-' + ('0' + (today.getMonth() + 1)).slice(-2) + '-' + ('0' + (today.getDate()+1)).slice(-2);
        document.getElementById('printdate').innerHTML = today.getFullYear() + '-' + ('0' + (today.getMonth() + 1)).slice(-2) + '-' + ('0' + (today.getDate()+1)).slice(-2);
      }
    </script>
    <% } %>
  <script>
    function passId(element) {
      const myID = element.getAttribute('data-id');
      document.getElementById('deleteAdLink').href = '/deletead/' + myID;
    }
  </script>
</body>

</html>